<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New product</title>
</head>
<body>
<form th:method="POST" th:action="@{/products}" th:object="${product}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="cost">Enter cost: </label>
    <input type="text" th:field="*{cost}" id="cost"/>
    <br/>
    <input type="submit" value="create">
</form>
</body>
</html>